<html>

<body style="font-family: 'Roboto', sans-serif;font-size:17px;line-height:30px;">

    <table align="center" cellpadding="0" cellspacing="0"
        style="padding:20px 0px;border-radius:5px;border:1px solid #ccc">
        <tr>
            <td style="text-align:center;adding: 20px 10px;">
                <div class="top"><img style="width:150px;height:150px" src="{{base_url}}/images/trueparking_logo.png"
                        alt="Trueparking Logo"></div>
            </td>
        </tr>
        <tr>
            <td style="padding:10px 20px">
                <p style="text-align:center">You recently requested to reset your password for your Ecom account.
                    Please use the below link to reset your password.

                    <p style="text-align:center"><a href="{{link}}" target=”_blank”>{{link}}</a></p>
                    <p><strong>Warm Regards,<br>
                            The Ecommerce Team</strong></p>
            </td>
        </tr>


</body>

</html>