<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        body {
            margin: 0px;
            color: #000;
            font-size: 16px;
            font-family: arial;
        }

        .im {
            color: #000
        }

        .content {
            padding: 20px 20px;
            border-radius: 6px;
            background: #fff;
            margin: 20px 0px;
            border: 2px solid #ccc;
        }

        a.btn {
            background: #07beab;
            font-size: 18px;
            color: #fff;
            padding: 11px 50px;
            font-weight: 500;
            border-radius: 0px;
            margin: 7px 0px 8px 0px;
            text-decoration: none;
        }

        .btn_mar {
            margin: 35px 0px 30px;
            text-align: center
        }

        .footer {
            text-align: center;
            line-height: 30px
        }

        .footer p {
            margin-bottom: 15px;
            color: #fff
        }

        .footer a {
            color: #fff;
            text-decoration: none
        }
    </style>
</head>
<table cellpadding="0" cellspacing="0" border="0"
    style="margin:0 auto; min-width:320px; max-width:600px; border:2px solid #f2f2f2;background: #44db95;background: linear-gradient(to right,rgb(54, 190, 171) 1%,rgb(45, 150, 135) 52%,rgb(32, 128, 114) 100%);;padding:15px"
    width="100%">
    <tr style="padding:5px;">
        <td align="center" style="padding: 5px 0px;background: #ffffff;border: 2px solid #5f5f5f;border-radius: 5px;"><a
                style="color: #000;font-weight: 600; text-decoration: none;" href="javascript:void(0);"><img
                    src="{{ base_url }}/images/trueparking_logo.png" alt="Logo"><br>True
                Parking</a></td>
    </tr>
    <tr>
        <td>
            <div class="content">
                <p>Dear {{name}},</p>
                <p>You recently requested to verify your email for Trueparking account.
                    Please use the below OTP to verify your email.</p>
                <!-- <p class="btn_mar"><a href="{{link}}" class="btn">Verify Email</a></p> -->
                <p><b><strong>{{otp}}</strong></b></p>
                <p style="margin-bottom: 20px;line-height: 25px">Warm Regards,<br>
                    <strong>Trueparking Team</strong></p>
            </div>
        </td>
    </tr>

    <tr>
        <td class="footer">
            <p><a href="#">Go to website.</a><br>© 2019 Copyright</p>
        </td>
    </tr>


</table>