<!-- <style>
  .container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .container .row {
    margin: 0 auto;
  }

  .card-title-err {
    color: red
  }

  .card-title {
    color: green
  }
</style>

<div class="container">
  <div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <%if(code==1){%>
          <h2><span class="card-title">Email verified</span></h2>
          <%}else{%>
          <h2> <span class="card-title-err">Error</span></h2>
          <%}%>
                <h3><%=result.msg%></h3>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!DOCTYPE html>
<html lang="en">

<head>
  <title>True Parking</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    img {
      max-width: 100%
    }

    .wrapper {
      max-width: 800px;
      margin: 2% auto;
      background: #dedede;
      border: 1px solid #ccc;
      box-shadow: 0px 0px 10px #ccc;
      font: 18px Arial;
      line-height: 24px
    }

    .wrapper .logo {
      text-align: center;
      background: #44db95;
      background: linear-gradient(to right, rgb(54, 190, 171) 1%, rgb(45, 150, 135) 52%, rgb(32, 128, 114) 100%);
      ;
      padding: 15px 0px 50px;
    }

    .wrapper .content {
      margin-top: -43px;
      background: #ffffff;
      margin-left: 25px;
      margin-right: 25px;
      padding: 15px 30px;
      box-shadow: 4px 4px 10px #adadad;
      text-align: center
    }

    .wrapper .content a.btn {
      background: #2a9283;
      font-size: 18px;
      color: #fff;
      padding: 15px 40px;
      font-weight: 500;
      border-radius: 30px;
      margin: 7px 0px 8px 0px;
      text-decoration: none;
    }

    .wrapper .text-center {
      margin: 40px 0px;
      text-align: center;
    }

    .wrapper .content p span {
      font-size: 20px;
      color: #006fc8;
      font-weight: 600
    }

    .wrapper .copyright {
      padding: 20px 0px;
      text-align: center;
    }

    .wrapper .copyright p {
      font-weight: 600;
    }

    .wrapper .copyright p a {
      color: #0e6bc0;
      font-weight: initial
    }

    @media(max-width:992px) {
      .wrapper {
        margin: 10% auto;
      }
    }

    @media(max-width:640px) {
      .wrapper {
        margin: 12% auto;
      }

      .wrapper {
        font-size: 15px
      }
    }

    @media(max-width:380px) {
      .wrapper .content a.btn {
        font-size: 13px;
        padding: 13px 20px;
      }
    }
  </style>
</head>

<body>

  <div class="wrapper">
    <div class="logo"><img src="<%=base_url%>/images/logo.png" alt="Logo"></div>
    <div class="content">
      <%if(code==1){%>
      <div><img src="<%=base_url%>/images/tick.png" alt="Logo"></div>
      <p>Hi, <span><%=result.name%></span></p>
      <p>You have successfully verified your Email!!</p>
      <%}else{%>
      <div><img src="<%=base_url%>/images/cross.png" alt="Logo"></div>
      <p>Hi, <span><%=result.name%></span></p>
      <p>You have successfully verified your Email!!</p>
      <%}%>
      <!-- <p>Hi, <span><%=result.name%></span></p>
      <p>You have successfully verified your Email!!</p> -->
      <div class="text-center"><a href="#" class="btn">Go to website</a></div>
    </div>
    <div class="copyright">
      <p>Need more help??<br><a href="#">We are here ready to talk</a></p>
    </div>
  </div>

</body>

</html>